# === Personal ignores
Gemfile.lock



# Ignore automatic cache
# TODO: move all these files to some temporary directory

catalog_scraper/tmp

catalog_scraper/bin/data
catalog_scraper/bin/data/mongo_logs/




departments/data/dept_codes.csv

*.db
activerecord_test/database.log


presentations/


web_app/models/CS_BS/
