# === Personal ignores
# Ignore automatic cache
# TODO: move all these files to some temporary directory
catalog_scraper/tmp

catalog_scraper/bin/data
Gemfile.lock

departments/data/dept_codes.csv

*.db
activerecord_test/database.log
